body {
    background-image: url(../img/forest.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    text-transform: uppercase;
    font-family: monaco, Consolas, Lucida Console, monospace;
}

.pokedex-container {
    max-width: 100%;
    text-align: center;
}

.pokemon-form {
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    border: solid 1.6px #1C1C1C;
    border-radius: .7rem;
}

.filter-badge {
    font-size: 0.9rem;
    display: inline-block;
    margin: 5px 0px 5px;
}

.pokedex-image {
    max-width: 100%;
    height: auto;
}

.pokemon-card {
    cursor: pointer;
    border: solid 1.6px #1C1C1C;
    border-radius: .7rem;
}

.pokemon-image {
    margin: 0 auto;
    max-width: 50%;
}

.pokemon-id {
    background-color: #DCDCDC;
    color: #1C1C1C;
    border: solid 1.6px;
    font-size: 1rem;
    margin: 0px 0px 10px;
}

.pokemon-name {
    font-weight: bold;
    margin: 0px 0px 10px;
}

.pokemon-types {
    display: flex;
    gap: .5rem;
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: center;
    margin: 0;
}

.all {
    background-color: #DCDCDC;
    color: #1C1C1C;
    border: solid 1.6px #1C1C1C;
}

.normal {
    background-color: #A8A878;
    color: #F7F7F7;
    border: solid 1.6px #1C1C1C;
}

.fire {
    background-color: #F08030;
    color: #F7F7F7;
    border: solid 1.6px #1C1C1C;
}

.water {
    background-color: #6890F0;
    color: #F7F7F7;
    border: solid 1.6px #1C1C1C;
}

.grass {
    background-color: #78C850;
    color: #F7F7F7;
    border: solid 1.6px #1C1C1C;
}

.electric {
    background-color: #F8D030;
    color: #F7F7F7;
    border: solid 1.6px #1C1C1C;
}

.ice {
    background-color: #98D8D8;
    color: #F7F7F7;
    border: solid 1.6px #1C1C1C;
}

.fighting {
    background-color: #C03028;
    color: #F7F7F7; 
    border: solid 1.6px #1C1C1C;
}

.poison {
    background-color: #A040A0;
    color: #F7F7F7;
    border: solid 1.6px #1C1C1C;
}

.ground {
    background-color: #E0C068;
    color: #F7F7F7;
    border: solid 1.6px #1C1C1C;
}

.flying {
    background-color: #A890F0;
    color: #F7F7F7;
    border: solid 1.6px #1C1C1C;
}

.psychic {
    background-color: #F85888;
    color: #F7F7F7;
    border: solid 1.6px #1C1C1C;
}

.bug {
    background-color: #729f3f;
    color: #F7F7F7;
    border: solid 1.6px #1C1C1C;
}

.rock {
    background-color: #B8A038;
    color: #F7F7F7;
    border: solid 1.6px #1C1C1C;
}

.ghost {
    background-color: #705898;
    color: #F7F7F7;
    border: solid 1.6px #1C1C1C;
}

.dark {
    background-color: #705848;
    color: #F7F7F7;
    border: solid 1.6px #1C1C1C;
}

.dragon {
    background-color: #7038F8;
    color: #F7F7F7; 
    border: solid 1.6px #1C1C1C;
}

.steel {
    background-color: #B8B8D0;
    color: #F7F7F7;
    border: solid 1.6px #1C1C1C;
}

.fairy {
    background-color: #F0B6BC;
    color: #F7F7F7;
    border: solid 1.6px #1C1C1C;
}

.btn-pages {
    font-size: 1.3rem;
    background-color: #F7F7F7;
    color: #1C1C1C;
    border: solid 1.6px #1C1C1C;
}

.form-control {
    background-color: #F8F9FA;
    border: none;
}

.modal-container {
    padding: 0 1rem 1rem;
}

.no-border-modal {
    border: 0;
}

.modal-card {
    cursor: pointer;
}

.modal-body {
    max-height: 70vh;
    overflow-y: auto;
    border-radius: .7rem;
}

.modal-pokemon-image {
    display: block;
    margin: 0 auto;
    max-width: 70%;
}

.modal-pokemon-id {
    background-color: #DCDCDC;
    color: #1C1C1C;
    border: solid 1.6px;
    font-size: 1rem;
    margin: 0px 0px 10px;
}

.modal-pokemon-name {
    font-weight: bold;
    margin: 0px 0px 10px;
}

.modal-pokemon-types {
    display: flex;
    gap: .5rem;
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: center;
    margin: 0;
}

.modal-title {
    font-size: 20px;
    font-weight: bold;
}

.no-evolutions {
    font-weight: bold;
    color: #C03028;
    margin: 0px 0px 10px;
}

.evolutions-image {
    display: block;
    margin: 0 auto;
    max-width: 60%;
}

.evolutions-id {
    background-color: #DCDCDC;
    color: #1C1C1C;
    border: solid 1.6px;
    font-size: 0.8rem;
    margin: 0px 0px 10px;
}

.evolutions-name {
    font-size: 18px;
    font-weight: bold;
    margin: 0px 0px 10px;
}

.evolutions-types {
    display: flex;
    gap: .5rem;
    font-size: 1rem;
    font-weight: bold;
    justify-content: center;
    margin: 0;
}

.stats-table {
    width: 100%;
    border-collapse: collapse;
}

.stats-table .td-bottom {
    padding: 10px;
}

.stat-base {
    width: 33%;
}

.stat-name {
    width: 45%;
}

.stat-progress {
    width: 55%;
}

.stat-more {
    width: 50%;
}

.progress {
    height: 20px;
}

.progress-bar-label {
    font-weight: bold;
    font-size: 1rem;
    color: #F7F7F7;
}

.loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 10px solid;
    margin-top: 50px;
    border-color: rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.4) rgba(255, 255, 255, 0.6) rgb(255, 255, 255);
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
  
@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.loader-title {
    font-size: 30px;
    color: #F7F7F7;
    font-weight: bold;
}

.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 50%;
}

@media (min-width: 768px) and (max-width:993px) {
    .modal-lg {
        max-width: 70%;
    }

    .col-md-5 {
        flex: 0 0 auto;
        width: 100%;
        padding: 0 25px;
    }

    .col-md-7 {
        flex: 0 0 auto;
        width: 100%;
        padding: 0 25px;
    }

    .pokemon-image {
        max-width: 70%;
    }

    .modal-pokemon-image {
        max-width: 60%;
    }

    .modal-pokemon-id {
        font-size: 1.2rem;
    }

    .modal-pokemon-name {
        font-size: 30px;
    }

    .modal-pokemon-types {
        font-size: 1.5rem;
    }

    .modal-title {
        font-size: 24px;
    }

    th, td {
        font-size: 20px;
    }

    .progress {
        height: 25px;
    }

    .evolutions-image {
        max-width: 100%;
    }

    .evolutions-name {
        font-size: 20px;
    }

    .no-evolutions {
        font-size: 18px;
    }
}

.modal-background {
    background: linear-gradient(0deg, #282C34 0%, #11002080 100%);
}

.form-control:focus, .btn-close:focus {
    box-shadow: none;
    border: none;
}

.pokemon-card:hover, .btn-pages:hover{
    color: #F7F7F7;
    border: solid 1.6px #5A6985;
    background: linear-gradient(0deg, #282C34 0%, #11002080 100%);
}

.pokemon-card:hover .badge {
    border: solid 1.6px #F7F7F7;
}